:root {
  --orange: #ff9637;
  --darkgreen: #005037;
  --lilac: #5c4492;
  --tomato: #de5c3b;
  --darkblue: #006aaa;
  --blue: #0071bb;

  --neutral-100: #f7f7f7;
  --neutral-200: #e9e9e9;
  --neutral-300: #c4c4c4;
  --neutral-400: #9b9b9b;
  --neutral-500: #7a7a7a;
  --neutral-600: #616161;
  --neutral-700: #3d3d3d;
  --neutral-800: #222222;
  --neutral-900: #111111;

  --page-text-color: var(--neutral-800);
  --meta-text-color: var(--neutral-400);

  --page-background-color: white;
  --page-foreground-color: var(--neutral-200);

  --border-color: var(--neutral-300);
  --border-radius: 8px;
  --border-radius-l: 16px;

  --font-weight-normal: 300;
  --font-weight-bold: 400;

  --font-size-base: 1rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2.25rem;
  --font-size-xxl: 3.375rem;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-l: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4.5rem;

  --ease-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --ease-decelerate: cubic-bezier(0, 0, 0, 1);
  --ease-standard: cubic-bezier(0.2, 0, 0, 1);

  --duration-xx-fast: 100ms;
  --duration-x-fast: 200ms;
  --duration-fast: 300ms;
  --duration: 400ms;
}

/*
  View transition animations
*/

/* write custom animation keyframes here */

/*
  Global styles
*/

/*
  global reset
  For every element:
  remove all margin & padding
  set the box-sizing to border-box
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  global page styles
  Set the html element to 18px (using relative units)
  Set the font family to neue haas unica as told in the adobe fonts project
  Set the global font-weight to 300
  Set the global line-height to 1.5
  Set the global text color and background color with the custom properties
*/

html {
  font-size: 1.125rem;
  font-family: 'neue-haas-unica', sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  color: var(--page-text-color);
  background-color: var(--page-background-color);
}

::selection {
  background-color: var(--lilac);
  color: white;
}

/* Responsive images */
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Every ul without a class should look like an ul */

ul:not([class]) {
  list-style-type: disc;
  list-style-position: inside;
}

/* Headings */

/* set all headings to font-weight 300 */

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-normal);
}

/* set the h2 to a font-size xl and the correct line-height */

h2 {
  font-size: var(--font-size-xl);
  line-height: 1.2;
}

/* Links */

/* all links should have a color of --blue, provide a hover effect */

a {
  color: var(--blue);
  text-decoration: none;
  transition: color var(--duration-fast) var(--ease-standard);
}

a:hover {
  color: var(--darkblue);
}

/* Other elements */

hr {
}

/*
  Reusable objects
*/

/* Containers to add a max width and center content */

.container {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

/* Rows to add whitespace around child elements */

.row {
  padding-left: calc(-1 * var(--space-m));
  padding-right: calc(-1 * var(--space-m));
}

.row--xl {
  padding-left: calc(-1 * var(--space-xl));
  padding-right: calc(-1 * var(--space-xl));
}

.row--xxl {
  padding-left: calc(-1 * var(--space-xxl));
  padding-right: calc(-1 * var(--space-xxl));
}

/* lists */

.list-reset {
  list-style-type: none;
  padding-left: 0;
}

/* Everything inside content should have some space at the top when it's adjacent to another element */

.content > * + * {
}

/* Images */

.image-landscape {
}

/*
  Specific styles
*/

/* button */

.button {
}

.button:hover {
}

/* Links */

.link-simple {
}

.link-simple:hover {
}

.link-meta {
  color: #9b9b9b;
}

.link-meta:hover {
  color: #fff;
}

/* Site header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: var(--page-background-color);
}

.main {
  margin: 6.75rem 2rem 0 2rem; 
}

.header__logo {
  grid-area: logo;
  align-self: center;
  height: 3.375rem;
  justify-self: end;
}

.header__wrapper {
  display: grid;
  grid-template-areas: 'title nav logo';
  padding: 1.6875rem 0;
  @media screen and (min-width: 40em) {
  }
}

.header__title {
  grid-area: title;
  align-self: center;
  font-size: 1rem;
  text-wrap: wrap;
  max-width: 6rem;
}

.header__nav {
  grid-area: nav;
  justify-self: center;
  align-self: center;
  @media screen and (min-width: 40em) {
  }
}

/* Navigation */

.nav__list {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  gap: 1.6875rem;
}

.nav__item {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
}

.nav__link {
  color: var(--page-text-color);
}

.nav__link:hover,
.nav__link--active {
  color: var(--blue);
}

.nav__active {
  grid-row: 2;
  border-bottom: 2px solid var(--blue);
}

/* Categories */

.category + .category {
}

.category__header {
  display: flex;
  justify-content: space-between;
}

/* Products */

.products {
  display: grid;
  gap: 1.6875rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-bottom: 3.375rem;
  @media screen and (min-width: 40rem) {
  }
}

.product {
  grid-row: span 2;
  background-color: var(--page-foreground-color);
  border-radius: var(--border-radius);
}

.product__link {
  display: grid;
  padding: 1.6875rem;
}

.product__title {
  color: black;
  .product__link:hover & {
  }
}

.product__price {
  color: var(--meta-text-color);
}

.product__img {
  justify-self: center;
  align-self: center;
  .product__link:hover & {
  }
}

/* Site footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6875rem 2.25rem;
  background-color: #111;
  color: #fff;
}

/* Contact */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.6875rem;
  padding: 5.0625rem 0;
}

.contact__content {
  text-wrap: wrap;
  max-width: 12rem;
}

/* Product detail */

.detail {
}

.detail__image {
}

.detail__image,
.detail__body {
}

.detail__body {
  @media screen and (min-width: 62em) {
  }
}

/*
  Reusable utitlity classes: classes that do one thing and one thing only.
*/

/* Text */

.break-word {
}

.text-center {
  text-align: center;
}

/* Whitespace */

.mt-m {
}

.mt-l {
}

.mt-xl {
}

.mb-xxs {
}

.mb-xs {
}

.mb-s {
}

.mb-m {
  margin-bottom: var(--space-m);
}

.mb-l {
}

.mb-xl {
}

/* Font sizes */

.fs-base {
  font-size: var(--font-size-base);
}

.fs-l {
}

.fs-xl {
}

/* Colors */

.bg-gray {
  background-color: var(--page-foreground-color);
}

.color-meta {
}

/* widths */

.max-width-s {
  max-width: 36rem;
}

@media (min-width: 40em) {
  .x-span-3-bp2 {
    grid-column: span 3;
  }

  .x-span-4-bp2 {
    grid-column: span 4;
  }

  .x-span-6-bp2 {
    grid-column: span 6;
  }

  .x-span-8-bp2 {
    grid-column: span 8;
  }

  .x-span-9-bp2 {
    grid-column: span 9;
  }
}

@media (min-width: 62em) {
  .x-span-3-bp3 {
    grid-column: span 3;
  }

  .x-span-4-bp3 {
    grid-column: span 4;
  }

  .x-span-6-bp3 {
    grid-column: span 6;
  }

  .x-span-8-bp3 {
    grid-column: span 8;
  }

  .x-span-9-bp3 {
    grid-column: span 9;
  }
}
